article#finish.reveal(data-reveal data-deep-link="true")
    h2.reveal_header
        | Финиш! Выводим в фиат, инвестируем, трейдим!
    p
        | Спецпроект «Все, что нужно знать о майнинге биткоина» подготовлен журналом ForkLog в партнерстве с одним из крупнейших российских майнинг-отелей
        | 
        a(href="https://bitcluster.ru/" target="_blank") BitCluster
        | , поставщиком майнингового оборудования
        | 
        a(href="http://chilkoot.ru" target="_blank") Chilkoot
        | 
        | и крупнейшим в Европе майнинг-пулом
        | 
        a(href="https://emcd.io/ru/" target="_blank") EMCD
        | .

    p
        | И вот — вы добыли свои долгожданные первые монеты. Теперь перед вами вопрос, что с ними делать? Вариантов несколько: продать, перевести на кошелек для хранения или же начать торговлю с целью приумножить капитал. Коротко и просто рассказываем о каждой опции.

    .reveal_block
        h3.reveal_subheader(id=menu[8].sub[0].link.substr(1))
            =menu[8].sub[0].title

        p
            | Майнинг — это в первую очередь бизнес. Тут, как и в классическом предпринимательстве, необходимо сводить дебет с кредитом. При расчете потенциальной прибыльности многие учитывают только затраты на электроэнергию, что является неверным подходом. Необходимо также учитывать расходы на обслуживании и модернизацию оборудования. Если вы используете услуги майнинг-хостингов, то платите за такие услуги комиссию; в остальных случаях эта задача ложится на ваши плечи.

        p
            | Для этого часть или все добытые монеты необходимо продавать и выводить в фиатные валюты. Себестоимость майнинга зависит от рыночного цикла и сложности майнинга. Крупные игроки продают больше, когда рынок уверенно растет, и меньше, когда котировки нестабильны. Логика простая: сильный рынок может поглотить большое количество монет, слабый же легко обрушить.

        p
            | Майнерам без так называемой денежной подушки такая роскошь, к сожалению, недоступна. Есть три варианта: либо они могут позволить себе майнить в убыток короткий промежуток времени, либо продают по рынку все, что есть, либо же выключают мощности.

        .reveal_benefits
            each _, i in Array(3)
                figure.reveal_benefit
                    .reveal_benefit_img
                        img(srcset=`./assets/img/sell/${i+1}@2x.png 2x, ./assets/img/sell/${i+1}.png 1x` src=`./assets/img/sell/${i+1}.png` alt=`Иллююстрация ${i+1}`)
        
        p
            | Выбор площадки для продажи зависит от размера вашей прибыли. Если суммы большие, то лучше выбирать крупные биткоин-биржи, где есть достаточная ликвидность. На аналитическом сервисе
            | 
            a(href="https://www.coingecko.com/en/exchanges" target="_blank") CoinGecko
            | 
            | можно ознакомиться с доверенными торговыми платформами (оценка 10) — это глобальные игроки, услугами которых пользуются по всему миру.

        p
            | Там придется пройти KYC-процедуру и доказать, что ваши доходы имеют законное происхождение. Это может показаться неудобным, но если вы не озабочены проблемами финансовой приватности и ставите в приоритет только бизнес, вам это на руку. Крупным биржам ни к чему скандалы с блокировкой больших сумм, поэтому в контексте надежности они будут наиболее правильным выбором.

        p
            | Ранее мы также рассказывали, где выгодно купить и продать криптовалюту за рубли.

        .reveal_link
            .reveal_link_img
                img(srcset="./assets/img/popup/buy_sell@2x.png 2x, ./assets/img/popup/buy_sell.png 1x" src="./assets/img/popup/buy_sell.png", alt="PoW PoS")
            .reveal_link_content
                | За рубли покупают и продают 2800 BTC в сутки. Россияне покупают криптовалюту на…
                a.button.hollow(href="https://forklog.com/gde-vygodnee-pokupat-kriptovalyutu-za-rubli-sravnivaem-komissii-obmennikov-i-birzh/" target="_blank")
                    | Читать 5 минут

        p
            | Кроме бирж существуют различные обменники и пиринговые платформы. Первые часто берут высокие комиссии, а на вторых не всегда легко найти покупателя.

        p
            | Если вам необходимо оплатить счета, но вы считаете рыночный курс неподходящим, вы можете воспользоваться услугами криптовалютных кредиторов или же DeFi-сервисов. За последний год в этом секторе появилось много предложений. Но децентрализованные решения вроде bzx или MakerDAO пока имеют существенные недостатки.

    .reveal_block
        h3.reveal_subheader(id=menu[8].sub[1].link.substr(1))
            =menu[8].sub[1].title
        p
            | Процент по-настоящему успешных трейдеров крайне невелик. И залог успеха далеко не в элитном дипломе, а скорее во врожденных навыках — главное их развить и использовать по назначению. Следующим
            | 
            a(href="https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%BB%D1%84%D0%BE%D1%80%D1%82,_%D0%94%D0%B6%D0%BE%D1%80%D0%B4%D0%B0%D0%BD" target="_blank") Джорданом Белфортом
            | 
            | может быть любой (но нарушать закон не стоит).

        p
            | Криптовалютные биржи во многом скопировали механизм работы терминалов для торговли на валютном и фондовом рынках. Для активной торговли лучше выбирать наиболее ликвидные площадки. Вы должны быть максимально уверены, что ваш ордер не обрушит цену на бирже. Индустрия проблему накрутки объемов торгов до сих пор не решила, но провайдеры данных CoinGecko и
            |
            a(href="https://www.bitcointradevolume.com/" target="_blank") Bitwise
            |
            | составили рейтинги, которые во многом сходятся.

        p
            | Кроме того, крупные биржи часто предлагают и маржинальную торговлю для тех, кто торгует с плечом. Binance своим пользователям предоставляет и биткоин-фьючерсы. Список деривативных площадок доступен на
            |
            a(href="https://www.coingecko.com/en/exchanges/derivatives" target="_blank") CoinGecko
            | .

        p
            | Если вы все же не хотите отдавать личные данные централизованным организациям, то существуют и децентрализованные биржи (DEX), но ликвидность и скорость осуществления сделок на них существенно ниже — таков компромисс.

        p
            | На рынке также есть и управляющие активами — они торгуют за вас и берут за это комиссию. Есть и венчурные фонды — вы вкладываете капитал, а они финансируют перспективные стартапы. Разумеется, все это связано со значительными рисками, поэтому в первую очередь необходимо обеспечить рентабельность майнингового бизнеса, а затем уже приумножать состояние.

    .reveal_block
        h3.reveal_subheader(id=menu[8].sub[2].link.substr(1))
            =menu[8].sub[2].title

        p
            | Допустим, вы не хотите торговать, инвестировать и даже продавать свои активы. Вы уверены, что они вырастут в цене и хотите хранить часть или все монеты в безопасном месте.

        p
            | Многие выбирают мобильные кошельки, поскольку они в любой момент могут получить доступ к средствам. С точки зрения безопасности эта логика в корне неправильная.

        p
            | «Не ваши ключи, не ваши деньги». Эту мантру повторяют известные разработчики и шифропанки. И это правда — для максимальной безопасности необходимо пожертвовать удобством.

        .reveal_benefits.reveal_benefits--small
            each _, i in Array(2)
                figure.reveal_benefit
                    .reveal_benefit_img
                        img(srcset=`./assets/img/store/${i+1}@2x.png 2x, ./assets/img/store/${i+1}.png 1x` src=`./assets/img/store/${i+1}.png` alt=`Иллююстрация ${i+1}`)

        p
            | Наиболее верным решением для хранения монет будут аппаратные кошельки (Ledger, Trezor) или так называемые холодные хранилища на базе мультиподписей. Логика здесь такова: если средства находятся в офлайне, их нельзя украсть. Для пользователя неудобство заключается в том, что для доступа к деньгами нужно потратить некоторое время.

        p
            | Неправильным решением будет хранить монеты на биржах — эти площадки созданы для торговли, а не для хранения сбережений.

        p
            | И помните — если вы настроили выплаты прямо на кошелек, не устанавливайте маленькие суммы, поскольку высокие комиссии могут отнять у вас заметную долю прибыли.

    .reveal_block
        h3.reveal_subheader(id=menu[8].sub[3].link.substr(1))
            =menu[8].sub[3].title

        p
            | В 2020 году инфраструктура криптовалютного рынка предоставляет широкие возможности для управления своими деньгами, однако стоит тщательно выбирать поставщиков услуг.

        p
            | Где есть деньги, есть и те, кто хочет их украсть. Всегда читайте пользовательские соглашения, чтобы понимать, какую ответственность несет перед вами компания. Внимательно проверяйте отзывы других пользователей и информацию о проекте в СМИ.

        p
            | Майнеры — это один из столпов индустрии. Время от времени они вынуждены работать в убыток. Иногда это обосновывается бизнес-логикой, иногда идеологическими убеждениями. Ведь майнинг — это бизнес, а биткоин — это новые деньги. И задача каждого участника индустрии в нужное время поддержать первую криптовалюту, поскольку в долгосрочной перспективе она обязательно отблагодарит.

    .reveal_footer
        button.reveal_footer_map(data-close)
            +icon('arrow', [8, 13])
            | На карту
        .reveal_footer_buttons
            button.button.hollow(data-open="mining-pools")
                | Назад

    button.dropdown_close(data-close)
        +icon('cross', [10, 10])