-
    const benefits = [
        {
            img: 'emission',
            header: 'Эмиссия криптовалют',
            descr: 'Майнинг — единственный способ создания новых монет.'
        },
        {
            img: 'decenter',
            header: 'Децентрализация криптовалюты',
            descr: 'Майнеры хранят копии блокчейна, чтобы вмешательство в одну копию не навредило сети.'
        },
        {
            img: 'payments',
            header: 'Функционирование платежей',
            descr: 'Майнеры записывают криптовалютные транзакции в блокчейн, после этого транзакции исполняются.'
        }
    ]

article#what-is-it.reveal(data-reveal data-deep-link="true")
    h2.reveal_header
        | Хочу майнить! Первые шаги
    p
        | Спецпроект «Все, что нужно знать о майнинге биткоина» подготовлен журналом ForkLog в партнерстве с одним из крупнейших российских майнинг-отелей
        | 
        a(href="https://bitcluster.ru/" target="_blank") BitCluster
        | , поставщиком майнингового оборудования
        | 
        a(href="http://chilkoot.ru" target="_blank") Chilkoot
        | 
        | и крупнейшим в Европе майнинг-пулом
        | 
        a(href="https://emcd.io/ru/" target="_blank") EMCD
        | .
    p
        | Это первый материал большого спецпроекта о майнинге, в нем мы расскажем:

    ul.reveal_list
        each item in menu[1].sub
            li
                a(href=item.link)
                    =item.title
    
    h3.reveal_subheader(id=menu[1].sub[0].link.substr(1))
        =menu[1].sub[0].title
    p
        | Майнингом обычно называют процесс добычи криптовалют, чаще всего — биткоина. Если вы решили заняться майнингом, важно понимать, что кроме заработка вы поддерживаете стабильность работы выбранной криптовалюты. 

    p
        | К примеру, майнеры биткоина не только получают 12,5 BTC награды за найденный блок (в мае, после очередного
        | 
        a(href="https://forklog.com/chto-takoe-halving-bitkoina/" target="_blank") халвинга
        | , этот показатель уменьшится до 6,25 BTC), но и подтверждают транзакции в сети, то есть помогают каждому держателю криптовалют без сбоев и задержек отправлять и получать платежи.

    p
        | Майнеры проверяют транзакции, подтверждают и записывают их в блок. Блокчейн — это цепочка связанных между собой блоков. Когда большинство майнеров копируют последний блок, транзакции исполнятся.

    .reveal_block
        h3.reveal_subheader(id=menu[1].sub[1].link.substr(1))
            =menu[1].sub[1].title
        .reveal_benefits
            each item in benefits
                figure.reveal_benefit
                    .reveal_benefit_img
                        picture
                            source(srcset=`./assets/img/benefits/${item.img}_mobile@2x.png 2x, ./assets/img/benefits/${item.img}_mobile.png 1x` media='(max-width: 639px)')
                            img(srcset=`./assets/img/benefits/${item.img}@2x.png 2x, ./assets/img/benefits/${item.img}.png 1x` src=`./assets/img/benefits/${item.img}.png` alt=item.header)
                    figcaption.reveal_benefit_text
                        strong.reveal_benefit_header
                            =item.header
                        =item.descr

    .reveal_block
        h3.reveal_subheader(id=menu[1].sub[2].link.substr(1))
            =menu[1].sub[2].title
        p
            | Вид майнинга зависит от алгоритма консенсуса, то есть правил записи блоков в блокчейн. Два наиболее известных алгоритма —
            | 
            strong Proof-of-Work
            | , который используется в сети биткоина и Ethereum, и
            | 
            strong Proof-of-Stake
            | — сети Dash и Stellar, например.
        .reveal_link
            .reveal_link_img
                img(srcset="./assets/img/popup/differences@2x.png 2x, ./assets/img/popup/differences.png 1x" src="./assets/img/popup/differences.png", alt="PoW PoS")
            .reveal_link_content
                | Подробнее о различиях между PoW и PoS вы можете прочитать в карточке ForkLog. 
                a.button.hollow(href="https://forklog.com/chto-takoe-proof-of-work-i-proof-of-stake/" target="_blank")
                    | Читать 10 минут
        p
            | Помимо двух основных алгоритмов консенсуса существует еще несколько десятков их видов. Для простоты мы кратко описали их в таблице:
        .reveal_table_overflow
            table.reveal_table
                tr
                    th Алгоритм консенсуса
                    th Примеры криптовалют
                    th
                        | От чего зависит шанс
                        br
                        | записать блок
                    th Капитализация криптовалют на этом алгоритме
                tr
                    td Proof-of-Work
                    td BTC, ETH, LTC
                    td Скорость решения криптографической задачи
                    td 82.6%
                tr
                    td Proof-of-Stake
                    td XLM, BNB, DASH
                    td Количество монет на кошельке
                    td 6.77%
                tr
                    td Delegated Proof-of-Stake
                    td EOS, ADA, TRX
                    td Количество монет, которые пользователи делегировали майнеру
                    td 
                tr
                    td Proof-of-Authority
                    td xDai, ZINC
                    td Майнеров назначают разработчики
                    td 2.36%
                tr
                    td Proof-of-Capacity
                    td STORJ, BTCHD
                    td Свободное место на жестком диске
                    td 0.53%
                tr
                    td
                        a(href="https://hackernoon.com/consensuspedia-an-encyclopedia-of-29-consensus-algorithms-e9c4b4b7d08f" target="_blank") Другие 22 алгоритма
                    td DAY, IOST
                    td Оперативная память, сжигание монет, время непрерывного майнинга
                    td 7.74%

        p.reveal_table_descr
            | Капитализацию криптовалют на PoC считали так: сложили капитализацию 12 монет на PoC и разделили на
            | 
            a(href="https://coinmarketcap.com/" target="_blank") капитализацию крипторынка
            | . Источник данных по капитализации криптовалют на других алгоритмах —
            | 
            a(href="https://cryptoslate.com/coins/" target="_blank") Cryptoslate.com.

    .reveal_block
        h3.reveal_subheader(id=menu[1].sub[3].link.substr(1))
            =menu[1].sub[3].title
        p
            | В алгоритме
            | 
            strong Proof-of-Work
            | 
            | (PoW – дословно: доказательство работы) за добавление новых блоков отвечают майнеры. Данный процесс включает в себя попытку найти хеш заголовка блока (часть блокчейна, которая содержит ссылку на предыдущий блок и суммированное значение транзакций, в него включенных), который будет по своему значению соответствовать текущему уровню сложности.

        p
            | Для того, чтобы система признала блок валидным, необходимо, чтобы значение его хеша было меньшим по сравнению с текущей целью. Таким образом, каждый блок показывает, что была проделана определенная работа по его нахождению.
        figure.reveal_figure
            img(srcset="./assets/img/popup/sign_cond@2x.png 2x, ./assets/img/popup/sign_cond.png 1x" src="./assets/img/popup/sign_cond.png", alt="")
            figcaption.reveal_figure_caption
                | Как алгоритм биткоина сравнивает подпись и условие
        p
            | Когда найден соответствующий результат, другие майнеры будут проверять достоверность результата, а майнер, нашедший блок, получает вознаграждение – определенное количество биткоинов. Как правило, включенные в блок транзакции считаются подтвержденными после того, как рассчитаны шесть блоков подряд.
        p
            | Поскольку процесс нахождения блока весьма трудозатратен и случаен, невозможно с точностью предсказать, какой именно майнер решит задачу и найдет блок.
        p
            | Изменить блок невозможно – возможно лишь создать блок на той же высоте, который будет содержать в себе хеш предыдущего блока. Для проведения такого процесса необходимо проделать работу по нахождению всех предыдущих блоков. Кроме того, если изменить исходную информацию, то меняется хеш. Высокая сложность этого процесса защищает блокчейн от несанкционированного доступа и двойных трат.

        figure.reveal_figure
            img(srcset="./assets/img/popup/sha@2x.png 2x, ./assets/img/popup/sha.png 1x" src="./assets/img/popup/sha.png", alt="")
            figcaption.reveal_figure_caption
                | Как изменение исходной информации влияет на хеш-сумму
        p
            | В сети биткоина майнеры ищут подпись 10 минут независимо от скорости майнинга. Посчитать хеш-сумму заголовка блока можно на
            | 
            a(href="https://habr.com/ru/post/258181/" target="_blank") листе бумаги за 17 минут.
            | 
            | Но чтобы майнить биткоин, нужно считать триллионы хешей в секунду. Для этого майнеры используют мощное оборудование. 

        p
            | В 2019 году майнеры биткоина потратили 58 тераватт электроэнергии. Столько же электроэнергии
            | 
            a(href="https://www.bbc.com/news/technology-48853230" target="_blank") потребляет, например, Швейцария
            | . PoS потребляет на 99% меньше электроэнергии, чем PoW.
    .reveal_block
        h3.reveal_subheader(id=menu[1].sub[4].link.substr(1))
            =menu[1].sub[4].title
        p
            | Алгоритм
            | 
            strong Proof-of-Stake
            | 
            | использует «долю» (stake) в качестве ресурса, который определяет, какая именно нода получает право добычи следующего блока. Сложность в данном случае распределяется пропорционально и в соответствии с балансом данного узла, то есть в соответствии с количеством монет на счету пользователя.

        p
            | Таким образом, больше шансов сгенерировать следующий блок имеет узел с большим балансом. Схема выглядит достаточно привлекательно прежде всего из-за небольших требований к вычислительным ресурсам, а также потому, что не стоит вопрос «потраченных впустую» мощностей.
            br
            | Впрочем, у PoS существуют и свои критики, которые полагают что стейкинг предназначен для обогащения и без того богатых людей.
        p
            | Вот еще несколько минусов Proof-of-Stake:
        
        ul.reveal_cons
            li
                | Нет награды за блок — только комиссии за подтверждение транзакций. Разработчики убрали награду, чтобы пользователи быстро не накапливали монеты.
            li
                | Минимальная сумма стейка —
                | 
                a(href="https://www.stakingrewards.com/asset/qtum" target="_blank") от $158 в QTUM
                | 
                | до
                | 
                a(href="https://www.stakingrewards.com/asset/qtum" target="_blank") $449 000 в ATOM
                | .
                br
                | Это увеличивает порог вхождения в стейкинг.

            li
                | Пользователи “замораживают” большое количество монет, уменьшают предложение на рынке. В криптовалютах KAVA, SNX и XTZ майнеры
                | 
                a(href="https://www.stakingrewards.com/assets" target="_blank") добавили в стейк более 75%
                | 
                | монет.
    .reveal_block
        h3.reveal_subheader(id=menu[1].sub[5].link.substr(1))
            =menu[1].sub[5].title
        .reveal_figure.reveal_img
            img(srcset="./assets/img/popup/graph@2x.png 2x, ./assets/img/popup/graph.png 1x" src="./assets/img/popup/graph.png", alt="На чем майнят криптовалюту")
            figcaption.reveal_figure_caption
                | График корреляции цены биткоина с халвингом. Источник:
                | 
                a(href="https://1in21million.club" target="_blank") 1in21million.club
        p
            | Устройства для майнинга биткоина менялись с течением времени, но их главной характеристикой была и остается величина хешрейта, то есть количество хешей, которое устройство считает за секунду.

        p
            | Изначально вознаграждение за добычу блока в сети биткоина составляло 50 BTC за блок, но после формирования каждых 210 000 блоков (приблизительно раз в 4 года) оно уменьшается вдвое. Этим объясняется ограниченная эмиссия биткоина в 21 млн монет.

        p
            | Согласно расчетам, в 2045 году выпуск новых биткоинов будет остановлен. Формирование блоков продолжится и далее, но вознаграждение уже не будет иметь эмиссионной части и будет формироваться исключительно за счет добровольных комиссионных отчислений.

        p
            | Сейчас майнеры получают 12,5 BTC за блок. Из-за высокой сложности сети добыча каждого блока занимает 10 минут. Однако если майнеры биткоина объединят
            | 
            a(href="https://bitinfocharts.com/ru/comparison/bitcoin-hashrate.html#3m" target="_blank") хешрейт
            | 
            | сети, то посчитают миллиард хешей за 0.00000009 секунды. Чтобы объединить шансы на награду, майнеры объединяются в пулы. Хешрейт их оборудования складывается в виртуальный ASIC. Пул делит награду между всеми участниками.
    .reveal_block
        h3.reveal_subheader(id=menu[1].sub[6].link.substr(1))
            =menu[1].sub[6].title
        .reveal_figure.reveal_img
            img(srcset="./assets/img/popup/map@2x.png 2x, ./assets/img/popup/map.png 1x" src="./assets/img/popup/map.png", alt="Карта мировых майнинговых центров")
            figcaption.reveal_figure_caption
                | Карта мировых майнинговых центров. Источник:
                | 
                a(href="https://coinshares.com/assets/resources/Research/bitcoin-mining-network-december-2019.pdf" target="_blank") CoinShares Research

        p
            | 66% мирового хешрейта биткоина, по данным компании CoinShares, контролируют майнеры из Китая. Другими крупными центрами по добыче криптовалюты являются США, Канада и Россия (Сибирь).
        .reveal_link
            .reveal_link_img
                img(srcset="./assets/img/popup/china@2x.png 2x, ./assets/img/popup/china.png 1x" src="./assets/img/popup/china.png", alt="Базирующиеся в Китае майнеры контролируют")
            .reveal_link_content
                | Базирующиеся в Китае майнеры контролируют на сегодняшний день две ...
                a.button.hollow(href="https://forklog.com/dolya-kitajskih-majnerov-v-heshrejte-bitkoina-dostigla-66/" target="_blank")
                    | Читать 3 минут
        p
            | Как правило, основными аспектами при выборе региона для открытия майнинг-центра становятся дешевизна электроэнергии и низкие температуры, поскольку они помогают экономить на оборудовании для отвода тепла, вырабатываемого майнерами. 

        p
            | Немаловажную роль играет законодательное регулирование отрасли. Например, отказ от налогообложения майнинга или предоставления льготных тарифов на электроэнергию способствуют привлечению капитала и развитию частного и промышленного майнинга в стране. А вот запрет на ввоз майнингового оборудования и необходимость обязательной государственной регистрации майнеров создают барьеры для этого вида деятельности.

        .reveal_link
            .reveal_link_img
                img(srcset="./assets/img/popup/armenia@2x.png 2x, ./assets/img/popup/armenia.png 1x" src="./assets/img/popup/armenia.png", alt="Народное собрание Армении рассмотрит проект закона «О цифровых технологиях»")
            .reveal_link_content
                | Народное собрание Армении рассмотрит проект закона «О цифровых технологиях»
                a.button.hollow(href="https://forklog.com/armeniya-gotovit-zakonoproekt-o-legalizatsii-majninga/" target="_blank")
                    | Читать 2 минут
        .reveal_link
            .reveal_link_img
                img(srcset="./assets/img/popup/taxes@2x.png 2x, ./assets/img/popup/taxes.png 1x" src="./assets/img/popup/taxes.png", alt="Система налогообложения цифровых активов")
            .reveal_link_content
                | Система налогообложения цифровых активов должна быть разработана до принятия ...
                a.button.hollow(href="https://forklog.com/rossijskie-yuristy-predlozhili-priravnyat-kriptovalyuty-k-imushhestvennym-pravam-i-dat-lgoty-majneram/" target="_blank")
                    | Читать 4 минут
        .reveal_link
            .reveal_link_img
                img(srcset="./assets/img/popup/customs@2x.png 2x, ./assets/img/popup/customs.png 1x" src="./assets/img/popup/customs.png", alt="Федеральная таможенная служба России")
            .reveal_link_content
                | Федеральная таможенная служба России поручила подчиненным службам усилить ...
                a.button.hollow(href="https://forklog.com/rossiyan-obyazali-deklarirovat-vvozimoe-v-stranu-oborudovanie-dlya-majninga/" target="_blank")
                    | Читать 2 минут

        .reveal_link
            .reveal_link_img
                img(srcset="./assets/img/popup/mining@2x.png 2x, ./assets/img/popup/mining.png 1x" src="./assets/img/popup/mining.png", alt="Майнинг в России: строим ферму, обходим запреты и платим налоги")
            .reveal_link_content
                | Майнинг в России: строим ферму, обходим запреты и платим налоги
                a.button.hollow(href="https://forklog.com/majning-v-rossii-stroim-fermu-obhodim-zaprety-i-platim-nalogi/" target="_blank")
                    | Читать 12 минут
        p
            | В России майнинг пока что законодательно не регулируется, однако в случае лояльного подхода регулятора у страны есть все предпосылки занять лидирующие позиции в этой индустрии с учетом дешевой электроэнергии, профессиональной рабочей силы и низких температур во многих регионах.

        p
            | В следующем материале на примере BitCluster покажем устройство биткоин-фермы изнутри.

    .reveal_footer
        button.reveal_footer_map(data-close)
            +icon('arrow', [8, 13])
            | На карту
        .reveal_footer_buttons
            //- button.button.hollow
                | Назад
            button.button.hollow(data-open="what-to-mine")
                | Вперед

    button.dropdown_close(data-close)
        +icon('cross', [10, 10])