#how-to-buy.reveal(data-reveal data-deep-link="true")
    h2.reveal_header
        | Как купить майнинговое оборудование и где его разместить
    p
        | Спецпроект «Все, что нужно знать о майнинге биткоина» подготовлен журналом ForkLog в партнерстве с одним из крупнейших российских майнинг-отелей
        | 
        a(href="https://bitcluster.ru/" target="_blank") BitCluster
        | , поставщиком майнингового оборудования
        | 
        a(href="http://chilkoot.ru" target="_blank") Chilkoot
        | 
        | и крупнейшим в Европе майнинг-пулом
        | 
        a(href="https://emcd.io/ru/" target="_blank") EMCD
        | .
    p
        | В этом материале спецпроекта о майнинге мы расскажем:
        
    ul.reveal_list
        each item in menu[5].sub
            li
                a(href=item.link)
                    =item.title

    .reveal_block
        h3.reveal_subheader(id=menu[5].sub[0].link.substr(1))
            | Крупнейшие производители оборудования
        p
            | Майнинг биткоина по-прежнему остается одним из главных способов получения криптовалюты, хотя и становится с каждым днем все более сложным процессом, требующим немалых финансовых затрат. При грамотном подходе к делу майнинг, несмотря на высокую конкуренцию в этом секторе, может быть довольно прибыльным занятием. 

        p
            | Для начала напомним, какую роль играет майнинг для биткоина. Его задача — верификация того, что осуществляемые транзакции отвечают правилам сети. Для этого используется сложное компьютерное оборудование, операторы которого за свои усилия получают вознаграждение. Это вознаграждение состоит из комиссионных за транзакции, а также из наград для майнеров внутри самой сети. 

        p
            | По оригинальной идее создателя биткоина Сатоши Накамото, майнингом можно было заниматься в домашних условиях на обычных компьютерных процессорах (CPU). К сегодняшнему дню такой вид добычи криптовалюты более не используется: по мере роста вовлеченного в майнинг оборудования и сложности майнинга, ему на смену сначала пришли высокопроизводительные графические ускорители (GPU), а затем и ASIC-майнеры – специализированные интегральные микросхемы, предназначенные исключительно для майнинга. 

        p
            | Такие устройства более выгодны, чем видеокарты, так как при большей вычислительной мощности они потребляют намного меньше энергии. 

        p
            | Добавим, что некоторые менее популярные альткоины все еще можно майнить на домашних компьютерах. Особенно выгодным это может быть непосредственно после запуска новых проектов, когда сложность добычи монет находится на низком уровне.
    
    .reveal_block
        h3.reveal_subheader
            | Крупнейшие производители оборудования
        p
            | Как говорится в недавнем
            | 
            a(href="https://forklog.com/analitiki-tokeninsight-nazvali-neozhidannoe-mesto-rossii-v-industrii-majninga/" target="_blank") исследовании
            | 
            | TokenInsight, посвященном основным трендам индустрии майнинга в 2019 году, производители ASIC-устройств сосредоточены главным образом в Китае — в 2019 году рыночная доля четырех крупнейших производителей составляла более 95%, а на страну в целом приходилось 73%.
        .reveal_img.reveal_img--mobile
            picture
                source(srcset='./assets/img/popup/manufacturers_mobile@2x.png 2x, ./assets/img/popup/manufacturers_mobile.png 1x' media='(max-width: 639px)')
                img(srcset="./assets/img/popup/manufacturers@2x.png 2x, ./assets/img/popup/manufacturers.png 1x" src="./assets/img/popup/manufacturers.png", alt="Распределение производителей оборудования для майнинга")
            figcaption.reveal_figure_caption
                | Распределение производителей оборудования для майнинга. Данные:
                | 
                a(href="https://tokeninsight.oss-accelerate.aliyuncs.com/levelPdf/15789960500462YfmROZVN1cqHB8vqVu2R.pdf" target="_blank") TokenInsight
        p
            | Самым крупным поставщиком специализированного оборудования для майнинга последние несколько лет является китайская компания Bitmain Technologies со своей флагманской линейкой ASIC Antminer. 

        p
            | Также хорошо известны такие компании, как Canaan Creative (Avalon), Ebang Communication (Ebit), кроме того, в последнее время активно конкурировать с ними пытается Halong Mining (
            a(href="https://forklog.com/make-sha256-great-again-kompaniya-halong-mining-predstavila-samyj-effektivnyj-bitkoin-majner/" target="_blank") DragonMint
            | ). Среди наиболее крупных поставщиков промышленных ASIC-устройств можно выделить Bitfury.

        p
            | В своем прогнозе на 2020 год аналитики TokenInsight предполагают, что рыночная доля производителей ASIC-устройств составит 63% для Bitmain (55% в 2019 году), 18% для Canaan, 10% — Whatsminer, и 7% — Ebang.

        p
            | Среди производителей видеокарт следует в первую очередь назвать AMD и Nvidia, хотя обе компании и
            | 
            a(href="https://forklog.com/amd-otchitalas-o-rekordnyh-dohodah-i-padenii-sprosa-v-majningovom-sektore/" target="_blank") признали
            | 
            | в прошлом году, что спрос на их продукцию со стороны майнеров существенно снизился.

    .reveal_block
        h3.reveal_subheader(id=menu[5].sub[1].link.substr(1))
            =menu[5].sub[1].title
        p
            | Основной поток оборудования для майнинга криптовалют идет из Китая. Однако еще в марте 2018 года Федеральная таможенная служба России поручила подчиненным службам усилить контроль за его ввозом и вывозом. При этом соблюдение
            | 
            a(href="https://forklog.com/rossiyan-obyazali-deklarirovat-vvozimoe-v-stranu-oborudovanie-dlya-majninga/" target="_blank") новых требований
            | 
            | в одинаковой степени касается как участников внешнеэкономической деятельности, так и рядовых граждан.

        p
            | В частности, оборудование для майнинга — видеокарты и создаваемые из них фермы, ASIC-майнеры и FPGA-платы — подпадает под действие ограничений, которые распространяются на ввоз товаров с функциями шифрования и криптографии. Таким образом их перемещение осуществляется только при наличии сведений в едином реестре нотификаций или соответствующей лицензии. 
        
        p
            | Физические лица, которые ввозят такие товары, включая почтовые пересылки и транспортные перевозки, должны декларировать их с использованием пассажирской таможенной декларации и иметь нотификацию на конкретную модель майнера.
        
        p
            | Кроме того, майнеры подпадают и под регламенты Таможенного союза, касающиеся низковольтного оборудования и электромагнитной совместимости устройств. Например, если комплект к ферме для майнинга включает в себя блок питания, сопровождающий документ также будет необходимо подготовить и по Техническому регламенту «О безопасности низковольтного оборудования».
        
        p
            | Кроме того, существуют конфигурации оборудования для майнинга, включающие в себя радиоэлектронные модули для передачи данных (Wi-Fi/Bluetooth). Такие майнеры относятся к категории радиоэлектронных средств (РЭС), и таможня может запросить у импортера подтверждение того, что характеристики оборудования соответствуют разрешенным к ввозу на территорию России. В этом случае потребуется оформить Заключение Радиочастотного центра / Отказное письмо Роскомнадзора.
        
        p
            | Учитывая все это, встает закономерный вопрос о том, стоит ли этим заниматься самостоятельно и насколько успешным окажется прохождение бюрократического ада и других подводных камней, например, непредсказуемого поведения государственных органов, выдающих необходимые разрешительные документы.  
        
        p
            | Если вы готовы к подобного рода испытаниям, самый простой способ заказать оборудование — посетить непосредственно сайт производителя выбранной модели майнеров и оформить заказ там. 
        
        p
            | Также необходимо помнить о весьма распространенной практике, когда отправка заказов начинается через несколько недель или даже месяцев после старта продаж. Кроме того, сам процесс покупки — и это в первую очередь относится к новинкам — также может доставить немалую головную боль: число моделей может быть ограничено, и при высоком спросе устройства могут быть распроданы за очень короткое время. 
        
        p
            | Более эффективным и быстрым способом, однако, может стать обращение к организациям, оказывающим специализированные услуги по доставке такого рода оборудования. Как правило, их сотрудники знакомы со многими тонкостями процесса, включая таможенное оформление и получение другой документации. 

    .reveal_block
        h3.reveal_subheader(id=menu[5].sub[2].link.substr(1))
            =menu[5].sub[2].title
        p
            | Итак, вы успешно выбрали и заказали нужное вам оборудование, и теперь находитесь в ожидании его прибытия. Следующий закономерный вопрос: где его разместить? Стандартной городской квартиры для этих целей, скорее всего, окажется недостаточно — задача осложняется габаритами оборудования, высоким потреблением электроэнергии, большой теплоотдачей и значительным уровнем шума при работе. 

        p
            | Весьма популярным решением стали так называемые майнинг-отели — специализированные площади с арендной платой за хостинг оборудования. Их предложения варьируются в зависимости от стоимости электроэнергии в том или ином регионе и других предлагаемых услуг, а также от класса самого майнинг-отеля. 

        p
            | В стандартный набор требований, предъявляемых к таким дата-центрам, входят хорошая вентиляция или охлаждение, сухость, стабильно работающий канал электроэнергии, системами аварийного пожаротушения, охрана и обслуживание в режиме 24/7.

    .reveal_block
        h3.reveal_subheader(id=menu[5].sub[3].link.substr(1))
            =menu[5].sub[3].title
        p
            | Практически каждый, кто занимается майнингом криптовалют, рано или поздно сталкивается с ситуацией, когда существующее программное обеспечение устройств перестает удовлетворять текущей ситуации на рынке, в результате чего падает доходность. Покупать каждый раз новое, все более совершенное оборудование, — выход далеко не очевидный, и именно в этом случае на помощь приходят прошивки.

        blockquote.reveal_quote
            | «Если говорить простыми словами, прошивка оборудования — это смена программного обеспечения. У каждого электронного устройства есть заложенная в него программа. Например, когда мы нажимаем на микроволновке разогреть 5 минут — выполняется программа. В майнерах также заложен определенный алгоритм. Алгоритмы постоянно совершенствуются: уменьшается потребление электроэнергии,  повышается эффективность добычи криптовалюты. Старое программное обеспечение можно обновить, увеличить энергоэффективность — это называется прошивкой оборудования»
            cite.reveal_quote_cite
                | рассказал ForkLog IT-специалист компании BitCluster Михаил Сорокин.

        p
            | Обычно новые прошивки выкладываются у производителей на официальном сайте, однако существуют и неофициальные (кастомные) прошивки, которые могут таить в себе определенные опасности, в том числе вирусы. Последние, например, могут встроить скрытые скрипты, ограничивающие некоторые функции, активирующие скрытый майнинг или даже похищающие средства. 

        p
            | Как отметил Михаил Сорокин, это относится и к б/у устройствам — при их покупке необходимо соблюдать крайнюю осторожность. 
        
        blockquote.reveal_quote
            | «Что касается вирусов, то новое оборудование, приобретенное у официальных поставщиков, не может быть заражено. Но если приобретать б/у устройства, то никаких гарантий нет, там может быть вшит вирус, который, например, уводит намайненные средства. Нужно быть очень внимательным при покупке б/у устройств, проверять их у профессионалов. Если хоть один майнер в сети вирусный, то он может заразить все остальные устройства. Прошивку оборудования нужно доверять только профессионалам»
            cite.reveal_quote_cite
                | добавил он.

    .reveal_block
        h3.reveal_subheader(id=menu[5].sub[4].link.substr(1))
            =menu[5].sub[4].title

        p
            | В случае, если приобретенное устройство вышло из строя и требует ремонта, лучше всего также обратиться к специалистам. Это может повлечь за собой потерю гарантии, если она еще действительна, однако также избавит от необходимости приобретать новое оборудование, экономя деньги владельца. Помочь в поиске мастеров поможет простой поиск в интернете, однако не стоит забывать о необходимости убедиться, что заявляемые возможности соответствуют квалификации тех, кто рекламирует свои услуги. 

        p
            | Don’t trust, verify!

    .reveal_footer
        button.reveal_footer_map(data-close)
            +icon('arrow', [8, 13])
            | На карту
        .reveal_footer_buttons
            button.button.hollow(data-open="what-to-mine")
                | Назад
            button.button.hollow(disabled)
                | Вперед

    button.dropdown_close(data-close)
            +icon('cross', [10, 10])