article#mining-pools.reveal(data-reveal data-deep-link="true")
    h2.reveal_header
        | Майнинговые пулы: как они работают и что нужно учесть при выборе
    p
        | Спецпроект «Все, что нужно знать о майнинге биткоина» подготовлен журналом ForkLog в партнерстве с одним из крупнейших российских майнинг-отелей
        | 
        a(href="https://bitcluster.ru/" target="_blank") BitCluster
        | , поставщиком майнингового оборудования
        | 
        a(href="http://chilkoot.ru" target="_blank") Chilkoot
        | 
        | и крупнейшим в Европе майнинг-пулом
        | 
        a(href="https://emcd.io/ru/" target="_blank") EMCD
        | .
    p
        | В этом материале спецпроекта о майнинге мы расскажем:

    ul.reveal_list
        each item in menu[7].sub
            li
                a(href=item.link)
                    =item.title
    
    .reveal_block
        h3.reveal_subheader(id=menu[7].sub[0].link.substr(1))
            | Самые крупные майнинговые пулы, и как они образовались
        p
            | В первые годы существования биткоина для того, чтобы находить блоки и получать награду, достаточно было иметь обычный компьютер с установленным специальным ПО. Оно изрядно нагружало центральный процессор, но каждый добытый блок приносил 50 BTC.

        p
            | С появлением специализированных ASIC-майнеров и ростом сложности добыча биткоина на CPU компьютера потеряла смысл. В последние годы, с ростом хешрейта сети и сложности добычи, майнинг на одном или даже нескольких асиках также перестал быть прибыльным. Блоки добывают крупные объединения — майнинговые пулы.

        p
            | Они могут быть децентрализованными и централизованными. Первые представляют собой одноранговые объединения майнеров, каждый из которых является равноправным узлом сети — нодой. Вторые — это сервисы на основе одного или нескольких серверов, которые объединяют вычислительные мощности устройств. Используемое ПО раздает подключенным к пулу майнинговым устройствам (воркерам) задания и принимает выполненную работу (шары).

        .reveal_benefits
            each _, i in Array(3)
                figure.reveal_benefit
                    .reveal_benefit_img
                        img(srcset=`./assets/img/worker/${i+1}@2x.png 2x, ./assets/img/worker/${i+1}.png 1x` src=`./assets/img/worker/${i+1}.png` alt=`Иллююстрация ${i+1}`)
        p.reveal_figure_caption
            | Воркер передает (шарит) решение на проверку с последующим внесением в пул

        p
            | Это позволяет находить новые блоки, получать награду и распределять ее среди участников, при этом каждый участник получает свой процент. Участникам пула обеспечивается постоянный доход. В соло-майнинге на добычу блока уйдет неопределенное количество времени, что в итоге может принести одни убытки.

        p
            | Сама идея объединять вычислительные мощности для добычи биткоина появилась вскоре после рождения криптовалюты. В 2010 году первый майнинговый пул создал учредитель и CEO SatoshiLabs Марек “Slush” Палатинус. SlushPool зарегистрирован в Чехии и работает до сих пор. Палатинус разработал и первый протокол для обеспечения работы пулов — Stratum.


        .reveal_benefits.reveal_benefits--small
            each i in [4, 5]
                figure.reveal_benefit
                    .reveal_benefit_img
                        img(srcset=`./assets/img/worker/${i}@2x.png 2x, ./assets/img/worker/${i}.png 1x` src=`./assets/img/worker/${i}.png` alt=`Иллююстрация ${i}`)

        p
            | Большинство подобных сервисов дает возможность участвовать в добыче нескольких монет, даже использующих разные алгоритмы. Они называются мультимонетными. Но самостоятельно следить и определять, майнинг какой монеты в настоящий момент наиболее выгоден, — это сложная и трудоемкая задача. Логичным следствием этого стала трансформация таких сервисов в мультипулы. В них переключение на наиболее прибыльный майнинг происходит автоматически.

        p
            | Теоретически создать майнинговый пул может любой майнер, ведь для этого необходим только сервер. Но, чтобы привлечь пользователей, нужно изначально обладать значительной вычислительной мощностью. Поэтому пулы создаются на основе одной или нескольких крупных майнинговых ферм. Некоторые являются «закрытыми клубами», к которым невозможно присоединиться.

        p
            | Большинство крупнейших пулов зарегистрировано в Китае, что неудивительно, учитывая концентрацию майнинговых мощностей в этой стране. Китайские компании контролируют и рынок производства оборудования для индустрии. Такие пулы, как AntPool и BTC.com, созданы майнинговым гигантом Bitmain. Есть пулы, которые контролируются крупными китайскими биткоин-биржами, например, OKExPool или Huobi.pool.

        figure.reveal_img.reveal_img--mobile
            picture
                source(srcset='./assets/img/popup/distribution_mobile@2x.png 2x, ./assets/img/popup/distribution_mobile.png 1x' media='(max-width: 639px)')
                img(srcset="./assets/img/popup/distribution@2x.png 2x, ./assets/img/popup/distribution.png 1x" src="./assets/img/popup/distribution.png", alt="Распределение хешрейта по майниговым пулам")
            figcaption.reveal_figure_caption
                | Распределение хешрейта по майниговым пулам за полгода. Данные:
                | 
                a(href="https://btc.com/stats/pool" target="_blank") BTC.com

    .reveal_block
        h3.reveal_subheader(id=menu[7].sub[1].link.substr(1))
            =menu[7].sub[1].title
        
        p
            | В первую очередь —
            | 
            b на способ распределения вознаграждения.
            | 
            | Основными способами распределения вознаграждения за добытый блок являются:

        -
            const pools = [
                {
                    img: 'pps',
                    descr: 'одна из самых распространенных систем с различными модификациями. При использовании PPS майнер получает фиксированное вознаграждение за каждую шару, принятую от него пулом.'
                },
                {
                    img: 'prop',
                    descr: 'один из первых алгоритмов, применявшийся пулами. Распределение награды происходит пропорционально присланным шарам в найденном блоке.'
                },
                {
                    img: 'pplns',
                    descr: 'при данном методе вознаграждение майнерам выплачивается за последние N шар.'
                },
            ]
        
        .reveal_benefits
            each item in pools
                figure.reveal_benefit
                    .reveal_benefit_img
                        img(srcset=`./assets/img/pools/${item.img}@2x.png 2x, ./assets/img/pools/${item.img}.png 1x` src=`./assets/img/pools/${item.img}.png` alt=item.header)
                    figcaption.reveal_benefit_text
                        strong=item.img.toUpperCase()
                        | 
                        | —
                        | 
                        =item.descr
        
        p
            | Справедливая по идее система выплат PROP пострадала от такого явления, как пул-хоппинг (pool-hopping), когда некоторые участники «перепрыгивали» между пулами с целью участия в выпуске более близкого к нахождению блока. Таким образом они увеличивали свою награду за счет майнеров, участвовавших в поиске блока от начала до конца. По этой причине в настоящее время PROP не так популярна у пулов, как это было раньше.

        p
            | При PPLNS выплата за шару не фиксированная, а начисляется по более сложному алгоритму за период нахождения блока, постепенно возрастая. Это стимулирует майнеров постоянно участвовать в майнинге и исключает пул-хоппинг, поскольку счет при отключении обнуляется.
        dl
            dt
                | Наличие и размер комиссий как за майнинг, так и за вывод средств 
            dd
                | Как правило, более высокие комиссии за майнинг устанавливают пулы, использующие метод распределения награды PPS. Система принимает на себя высокие риски, выплачивая вознаграждение за всю проделанную майнерами работу, независимо от успеха в поиске блоке. При PPS комиссия может достигать 4–7%. Пулы с алгоритмом PPLNS напротив максимально защищены от рисков, поэтому могут позволить себе комиссию до 1%.
            dt
                | Порог выплаты вознаграждения

            dd
                | Крупные пулы зачастую устанавливают для этого показателя достаточно высокую планку. Особенно это будет ощутимо для майнеров с небольшой вычислительной мощностью — периоды между выплатами могут оказаться длительными. Более привлекательными для них выглядит регулярное зачисление награды.

            dt
                | Возможность удаленного мониторинга собственных асиков

            dd
                | Чем больше каналов связи, через которые доступен непрерывный контроль состояния собственного оборудования, тем больше шансов на своевременную реакцию в случае проблем. Иногда даже простая перезагрузка может исправить положение, а потерянное время — это недополученный доход. 

            dt
                | Географическая удаленность серверов пула

            dd
                | Чем дальше ваше оборудование находится от серверов, тем, скорее всего, будет большим пинг — время обмена пакетами между пулом и вашим оборудованием. Несмотря на то что речь идет о долях миллисекунд, в майнинге это грозит регулярными запоздалыми шарами (stale share) и заметным в среднесрочной перспективе замедлением работы и потерей дохода.

            dt
                | Поддержка русского языка

            dd
                | Некоторые сайты пулов доступны только на китайском языке, у большинства есть англоязычная версия. Но это может оказаться неудобным для некоторых пользователей, а особенно критичным — для общения со службой поддержки.
    .reveal_block
        h3.reveal_subheader(id=menu[7].sub[2].link.substr(1))
            =menu[7].sub[2].title
        p
            | Некоторые из них даже не требуют регистрации, но в случае ее необходимости это достаточно простая процедура.
        p
            | Например, у мультипула EMCD при регистрации нужно ввести имя, пароль и электронную почту. Письмо, которое придет на почту, будет приглашением для вступления в клуб.

        figure.reveal_img--mobile
            img(srcset="./assets/img/pools/steps/1@2x.png 2x, ./assets/img/pools/steps/1.png 1x" src="./assets/img/pools/steps/1.png", alt="Шаг 1")
        p
            | После регистрации необходимо присоединить к пулу свои устройства.
        figure.reveal_img--mobile
            img(srcset="./assets/img/pools/steps/2@2x.png 2x, ./assets/img/pools/steps/2.png 1x" src="./assets/img/pools/steps/2.png", alt="Шаг 2")
        p
            | В личном кабинете вас встретит интуитивно понятный интерфейс со всем необходимым функционалом.

        figure.reveal_img--mobile
            img(srcset="./assets/img/pools/steps/3@2x.png 2x, ./assets/img/pools/steps/3.png 1x" src="./assets/img/pools/steps/3.png", alt="Шаг 3")
        p
            | В личном кабинете можно посмотреть свои выплаты, которые производятся в 8:30 по Москве каждый день, и определить по калькулятору дохода самое выгодное направление для майнинга.
        figure.reveal_img--mobile
            img(srcset="./assets/img/pools/steps/4@2x.png 2x, ./assets/img/pools/steps/4.png 1x" src="./assets/img/pools/steps/4.png", alt="Шаг 4")
        p
            | Обратите внимание, что здесь есть возможность выбрать подключение к наиболее географически близкому серверу и обеспечить высокую скорость обмена пакетами с ним.
        figure.reveal_img--mobile
            img(srcset="./assets/img/pools/steps/5@2x.png 2x, ./assets/img/pools/steps/5.png 1x" src="./assets/img/pools/steps/5.png", alt="Шаг 5")
        p
            | Из других настроек обращает на себя внимание возможность установки двухфакторной аутентификации, что повышает безопасность. Возможность получения через Telegram или e-mail статусов оборудования позволяет быстро реагировать на проблемы с оборудованием. Мониторить его состояние можно прямо на сайте. 

        p
            | Немаловажно, что пул оказывает участникам на территории России услуги по приоритетному ремонту оборудования. На самом деле, любой отключившийся асик — это потеря дохода. Оборудование используется с постоянными экстремальными нагрузками, подвергаясь риску. Добавьте сюда ошибки при эксплуатации, что приводит к выходу из строя. По словам специалистов пула EMCD, особенно характерно это для устройств от Bitmain серии AntMiner S17. 

        p
            | Кроме этого, пул предлагает круглосуточную поддержку и модифицированные прошивки.

        p
            | EMCD использует один из вариантов привлекательного для майнеров способа распределения вознаграждения PPS с бонусом — вознаграждение включает и комиссии за транзакции в добытом блоке.

        p
            | Есть у EMCD и реферальная программа, больших дивидендов она не принесет, но компенсация за приглашение новых пользователей все-таки пойдет «в плюс».

        p
            | При выборе майнингового пула важно учесть все условия и особенности, чтобы максимизировать прибыль и обеспечить бесперебойную работу оборудования.


    .reveal_footer
        button.reveal_footer_map(data-close)
            +icon('arrow', [8, 13])
            | На карту
        .reveal_footer_buttons
            button.button.hollow(data-open="how-to-buy")
                | Назад
            button.button.hollow(data-open="finish")
                | Вперед

    button.dropdown_close(data-close)
        +icon('cross', [10, 10])