each item, i in menu
    if item.link && item.sub && i
        .dropdown.dropdown--point(id=`pointPopup${i}` 
            data-position=item.position ? item.position.h : 'right'
            data-position-mobile=item.positionMobile ? item.positionMobile.v : false
            data-alignment=item.position ? item.position.v : 'center'
            data-vOffset=item.offset ? item.offset.v : '0'
            data-hOffset=item.offset ? item.offset.h : '0')
            a.dropdown_header(href=item.link)&attributes(item.attrs)
                !=item.title
            .dropdown_text
                ul.dropdown_list
                    each subitem in item.sub
                        li
                            a(href=subitem.link)&attributes(item.attrs)
                                =subitem.title

#minerPopup.dropdown.dropdown--miner
    p.dropdown_header
    p.dropdown_text
    button.dropdown_close(data-close)
        +icon('cross', [10, 10])

include ../items/_firstSteps
include ../items/_whatToMine
include ../items/_howToBuy

#video.reveal.large.reveal--video(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .responsive-embed.reveal_video
        #player

//- #map.reveal.large.reveal--map(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h2.reveal_header
        | Карта хостеров и майнинг-отелей
    button.dropdown_close(data-close)
        +icon('cross', [10, 10])
